<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-header>
      <img mat-card-avatar src="{{assignmentTransmis.auteur.image}}">
      <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>    
      <mat-card-subtitle>{{assignmentTransmis.prof.matiere.nom}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-title-group>
      <img mat-card-sm-image class="pictureauteur" src="{{assignmentTransmis.prof.image}}">
    </mat-card-title-group>
    <mat-card-content>
      <mat-list>
        
        <mat-list-item> Note: {{assignmentTransmis.note}} </mat-list-item>
        <mat-list-item> Date Rendu: {{assignmentTransmis.dateDeRendu | date}} </mat-list-item>
        <mat-list-item> Remarques: {{assignmentTransmis.remarques}} </mat-list-item>
        <mat-list-item>
          <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
          Rendu
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="onClickEdit()">Edit</button>
      <button mat-fab color="warn" aria-label="Delete Assignment" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
