<h1>
  <nav>
    
    <div class="button-row">
      <button mat-raised-button color="primary" routerLink="/home" >{{title}}</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button color="primary" (click)="peuplerBD()">PeuplerBD</button>
    </div>

  </nav>
</h1>

<div class="nav-container mb-3">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <div class="navbar-brand logo"></div>
      <app-auth-nav></app-auth-nav>
    </div>
  </nav>
</div>


<!-- Indique qu'on affichera le composant qui correspond à l'URL courant -->
<router-outlet></router-outlet>
