<form ngForm #formAssignment class="form" (submit)="onSubmit($event); formAssignment.reset();">
  <mat-form-field>
    <input matInput placeholder="Nom de l'étudiant" required [(ngModel)]="nom" name="nom">
  </mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>Liste des eleves</mat-label>
  <mat-select required [(ngModel)]="eleve" name="eleve">
    <mat-option *ngFor="let e of eleves" [value]="e">
      {{e.nom}}
    </mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Liste des matiéres</mat-label>
    <mat-select required [(ngModel)]="prof" name="prof">
      <mat-option *ngFor="let p of profs" [value]="p">
        {{p.matiere.nom}}
      </mat-option>
    </mat-select>
    </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choisissez une date</mat-label>
    <input matInput [matDatepicker]="picker" required [(ngModel)]="dateDeRendu"  name="date">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-stroked-button color="primary" (click)="onSubmit($event);" >
    Ajouter un devoir
  </button>
</form>
